<div class="barchart">
    <h1>Chart.js example</h1>
        <canvas id="Chart" width="400" height="400"></canvas>

        <script>
            var ctx = document.getElementById("Chart").getContext('2d');

            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: <%- JSON.stringify(labels) %>,
                    datasets: [{
                        label: '# of Votes',
                        data: <%= JSON.stringify(data) %>,
                        backgroundColor: <%- JSON.stringify(fillColors) %>,
                        borderColor: <%- JSON.stringify(borderColors) %>,
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        </script>
</div>